# Important!
# As this file contains sensitive information, you should NOT place it in the public webroot.
# WPC will look for `wpc-config.yaml' in parent folders from where it is located.

# Location of uploaded and converted files (relative to wpc.php). These files are not kept, but deleted immediately
destination-dir: '../conversions'

access:
    #allowed-hosts:
    #     - bitwise-it.dk
    #allowed-ips:
    #    - 127.0.0.1

    # The secret should match the secret on the server that calls our cloud service
    # NOTE! Make sure that this configuration file is not public available (place it in a parent folder)
    secret: 'my dog is white'

# To learn about webp-convert options, go to https://github.com/rosell-dk/webp-convert
# PS: When WPC is used as a converter with webp-convert, only the `converters` option set here will not have effect,
#     -- the other options will be overridden in the POST call.
webp-convert:
    quality: 80
    method: 6
    low-memory: true
    metadata: 'none'        # Valid values: all, none, exif, icc, xmp

    converters:
        -
            converter: 'cwebp'
            options:
                use-nice: true

        -
            converter: 'imagick'

        -
            converter: 'gd'
            options:
                skip-pngs: true
